/.bsp/
/.idea/
/project/target/
/target/
/project/project/target/
/example/target/
/example/helloWorld/target/
/example/project/target/
/example/project/project/target/
/example/project/build.properties
