/.bsp/
/.idea/
/project/target/
/target/
/project/project/target/
/Example/target/
/Example/helloWorld/target/
/Example/project/target/
/Example/project/project/target/
/Example/project/build.properties
